{% extends "shop/base.html" %}
{% load static %}
{% block title %}Your shopping cart{% endblock %}
{% block content %}
<h1 class="my-4 text-center small-title">Your shopping cart</h1>

<div class="cart-container">
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th class="text-center">Image</th>
            <th class="text-center">Product</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Remove</th>
            <th class="text-center">Unit price</th>
            <th class="text-center">Price</th>
        </tr>
        </thead>
        <tbody>
        {% if cart %}
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ product.name }}" class="img-fluid" style="max-width: 100px;">
                </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="20" class="form-control">
                        <input type="hidden" name="update" value="True">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-secondary">Update</button>
                        </div>
                    </div>
                </form>
            </td>
            <td class="remove-btn-cell"><a href="{% url 'cart:cart_remove' product.id %}" class="btn btn-danger btn-sm">remove</a></td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr class="font-weight-bold">
            <td>Total:</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6" class="text-center" id="cart-message" style="color: #40B2E4;">Your cart is empty.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<div class="text-right">
    <a href="{% url 'shop:product_list' %}" class="btn btn-secondary">Continue shopping</a>
    <button id="checkout-button" class="btn btn-primary" data-cart-length="{{ cart|length }}" data-order-url="{% url 'orders:order_create' %}">Checkout</button>
</div>

{% block extra_js %}
<script src="{% static 'shop/js/cart.js' %}"></script>
{% endblock %}

{% endblock %}
