.remove-btn-cell {
    text-align: center;
    vertical-align: middle;
}

.remove-btn-cell .btn {
    display: inline-block;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.text-center {
    text-align: center;
    font-weight: bold;
}

.cart-container {
    max-height: 600px;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(166, 207, 245, 0.699);
}

.cart-container::-webkit-scrollbar {
    display: none;
}

.cart-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
